.container{
  margin-top: 2em;

}

li{
  margin-left: 2em;
  font-size: 19px;

}
.homeDone{
  display: flex;
  justify-content: center;
  align-items: right;
  margin: 1em;
}
.btn{
  margin-right: 1em;
  display: inline-block;
  vertical-align: middle;
}
.table{
  margin-top: 2em;
}
#tablerow{
  max-width: 100px;
}
#check{
  width: 22px;
  height: 22px;
}

#check{
  height: 30px;
  width: 30px;
  vertical-align: middle;
}
.appname{
  max-width: 100px;
}
