.container{
  margin-top: 2em;
}
.table{
  margin-bottom: auto;
  text-align: center;
}
td{
  text-align: left;
  width: 75%;

}
#sync{
  width: 1em;
  height: 1em;
  margin-left: 1em;
  /* margin-right: 1em; */
}
#autoinstall{
  width: 1em;
  height: 1em;
  margin-left: 1em;
  /* margin-right: 1em; */
}
.btn{
  height: 2em;
  padding: 1px;
  width : 2.5em;
  margin-right:  1em;

}
.nav{
  margin-top: 2em;
}
body{
background-image: url("images/background.jpg");
}
